html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  .dark-mode {
    background-color: #121212 !important;
    color: #f0f0f0 !important;
  }

  .dark-mode .bg-white {
    background-color: #1e1e1e !important;
  }

  .dark-mode .form-control {
    background-color: #2b2b2b;
    color: #f0f0f0;
    border-color: #444;
  }

  .dark-mode .btn {
    background-color: #28a745;
    border-color: #28a745;
  }
}
